.app.light {
    --bg-color: rgb(209, 209, 240);
    --inverted-bg-color: blue;
    
    --primary-color: rgb(122, 126, 122);
    --secondary-color: #c8cec6;
    --inverted-primary-color: green;
    --inverted-secondary-color: #20a000;
}